.flex-container {
  display: flex;
}

.player-video-container {
  margin-right: 1rem;
}

.play-arrow-icon {
  cursor: pointer;
  font-size: 2rem;
}

.clip-controls-div {
  background-color: transparent;
  margin: 1rem;
  padding: 1rem;
}

.video-time-header {
  color:#fff;
}