.flex-container {
  display: flex;
}

.player-video-container {
  margin-right: 1rem;
}

.play-arrow-icon {
  cursor: pointer;
  font-size: 2rem;
}

.clip-controls-div {
  background-color: transparent;
  margin: 1rem;
  padding: 1rem;
}

.video-time-header {
  color:#fff;
}

.playlist-names-div {
  background-color: whitesmoke;
}

.add-to-playlist-p {
  color: black;
}

.remove-video-div {
  display: inline;
}

.remove-video-button {
  margin-left: 5rem;
}
