.flex-container {
  display: flex;
  box-shadow:  10px 10px 10px 10px  rgba(0, 0, 0, 0.158);
}

.player-video-container {
  margin-left: 1rem;
  padding-right: 20px;
}

.play-arrow-icon {
  cursor: pointer;
  font-size: 2rem;
}

.clip-controls-div {
  text-align: center;
  background-color: transparent;
  margin: 1rem;
  padding: 1rem;
}

.video-time-header {
  color:#fff;
}

.playlist-names-div {

  background-color: transparent;
}

.add-to-playlist-p {
  color: rgb(255, 255, 255);

}

.remove-video-div {
  display: inline;
}

.remove-video-button {
  margin-left: 5rem;
}
