.playlist-titles-div {
    background-color: transparent;
    opacity: 80%;
    padding: 0rem;
}

.create-playlist-div {
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 2vmin;
    box-shadow: 0px 25px 25px 25px rgba(0, 0, 0, 0.541);
    padding: 1rem;
    margin-top: 4rem;
}

.playlist-div {
    cursor: pointer;
}

.remove-playlist-button {
    cursor: pointer;
}