.container {
    margin: 0px!important;
}
.vidvid{
    background-color: rgba(5, 5, 5, 0.2);

}
.title{
    text-align: center;
    margin: 35px;
    font-size: 2vmin;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4em;
}
.video-div-inner {
    margin: 0rem;    
}

.video-page-video {
    margin: 50rem;

}

.title-description-div {
    color: rgb(255, 255, 255);
    font: 14px/19px  "Helvetica", "Arial", sans-serif;
    font-size: 1.5vmin;

}
.test{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.test>div {
    text-align: center;
    border-radius: 1em;
    box-sizing:border-box;
    margin: 20px;
    padding: 10px;
  }

/* .h1-title-div {
    background-color: turquoise;
} */

.video-container:hover {
    cursor: pointer;
}

